# The loopback network interface
auto lo
iface lo inet loopback

auto bridge
iface bridge
    bridge-ports {{ interfaces.stdout }}
    bridge-vlan-aware yes

auto vlan1
iface vlan1 inet dhcp
    vlan-id 1
    vlan-raw-device bridge
