auto lo
iface lo inet loopback
    address 10.10.10.{{ inventory_hostname[-1] }}/32

auto mgmt
iface mgmt
    vrf-table auto
    address 127.0.0.1/8

auto eth0
iface eth0 inet dhcp
    vrf mgmt

{% set i = namespace(value=0) %}
{% for port in range(1, 33) %}
auto swp{{ port }}
iface swp{{ port }}
    {% set i.value = i.value + 1 %}
    {% if i.value == 1 %}
    bridge-access {{ devices[inventory_hostname]['compute']['vlans'][0].id }}
    {% elif i.value == 2 %}
    bridge-access {{ devices[inventory_hostname]['compute']['vlans'][1].id }}
    {% elif i.value == 3 %}
    bridge-access {{ devices[inventory_hostname]['compute']['vlans'][2].id }}
    {% else %}
    bridge-access {{ devices[inventory_hostname]['compute']['vlans'][3].id }}
    {% set i.value = 0 %}
    {% endif %}
{% endfor %}

auto bridge
iface bridge
    bridge-ports swp1 swp2 swp3 swp4 swp5 swp6 swp7 swp8 swp9 swp10 swp11 swp12 swp13 swp14 swp15 swp16 swp17 swp18 swp19 swp20 swp21 swp22 swp23 swp24 swp25 swp26 swp27 swp28 swp29 swp30 swp31 swp32
    bridge-vids {{ devices[inventory_hostname]['compute']['vlans'][0].id }} {{ devices[inventory_hostname]['compute']['vlans'][1].id }} {{ devices[inventory_hostname]['compute']['vlans'][2].id }} {{ devices[inventory_hostname]['compute']['vlans'][3].id }}
    bridge-vlan-aware yes

{% for vlan in devices[inventory_hostname]['compute']['vlans'] %}
auto vlan{{ vlan.id }}
iface vlan{{ vlan.id }}
    address {{ vlan.subnet|ipaddr('next_usable') }}/{{ vlan.subnet|ipaddr('prefix') }}
    vlan-id {{ vlan.id }}
    vlan-raw-device bridge
{% endfor %}
